{% extends 'base.html' %}

{% block head %}
<title>Add ToDo</title>
{% endblock head %}

{% block content %}

<body class="fondo-dash">
    <form class="flex flex-col justify-center w-11/12 mx-auto mt-6" action="{% url 'dashboard:add' %}" method="POST">
        {%csrf_token %}
        <input type="hidden" value="{{ user }}" name="user_id">
        <input class="mb-3 p-2" name="title" type="text" maxlength="100" placeholder="title" required>
        <textarea class="p-2" name="description" cols="30" rows="10" placeholder="description"
            maxlength="500"></textarea>
        <div class="mx-auto">
            <button class="form-btn bg-green-600 hover:bg-green-800"
                type="submit">Add</button>
            <a class="inline-block bg-red-600 hover:bg-red-800 form-btn"
                href="{% url 'dashboard:dashboard' %}">Cancel</a>
        </div>
    </form>
</body>
{% endblock content %}