{% extends 'base.html' %}

{% block head %}
<title>Dashboard</title>
{% endblock head %}

{% block content %}
{% load tz %}

<a href="{% url 'users:logout' %}">Logout</a>
{% load static %}
<a class="text-white block mx-auto p-3 mt-6 rounded-md w-11/12" href="{% url 'dashboard:add' %}"><img src="{% static 'images/plus-square.svg' %}" alt=""></a>


{% if todos %}
    {% for todo in todos %}
    <div class="flex w-11/12 mx-auto justify-center items-center mb-5">
        <p class="flex-1">{{ todo.title }}</p>
        <p class="flex-1">{{ todo.description }}</p>
        <p class="flex-1">{{ todo.is_done }}</p>
        <p class="flex-1">{{ todo.modified|timezone:"America/Bogota" }}</p>
        <a href="{% url 'dashboard:edit' todo.id %}"><img class="mr-2" src="{% static 'images/edit.svg' %}" alt="Edit Todo"></a>
        <a href="{% url 'dashboard:delete' todo.id %}"><img src="{% static 'images/trash.svg' %}" alt="Delete Todo"></a>
    </div>
    {% endfor %}
{% endif %}
{% endblock content %}