{% extends 'base.html' %}

{% block head %}
<title>Delete ToDo</title>
{% endblock head %}

{% block content %}

<body class="fondo-dash">
    <form action="{% url 'dashboard:delete' todo.id %}" method="POST">{% csrf_token %}
        <div class="mt-4 w-11/12 mx-auto rounded-lg p-10 bg-gray-400 text-center text-white">
            <p class="font-bold pt-7 text-4xl">Do you want to delet this ToDo?</p>
            <p class="font-extrabold mt-6 text-3xl">{{ todo.title }}</p>
            <p class="text-2xl mt-4">{{ todo.description }}</p>
            <p class="mt-5">{{ todo.created }}</p>
            <div class="mx-auto">
                <button class="bg-green-600 hover:bg-green-800 text-white mr-3 p-3 mt-6 rounded-md"
                    type="submit">Delete</button>
                <a class="inline-block bg-red-600 hover:bg-red-800 text-white p-3 mt-6 rounded-md mx-auto"
                    href="{% url 'dashboard:dashboard' %}">Cancel</a>
            </div>
        </div>
    </form>
</body>
{% endblock content %}