{% extends 'base.html' %}

{% block head %}
<title>Edit ToDo</title>
{% endblock head %}

{% block content %}

<body class="fondo-dash">
    <form class="flex flex-col justify-center w-11/12 mx-auto mt-6" action="{% url 'dashboard:edit' todo.id %}"
        method="POST">{% csrf_token %}
        <input type="hidden" value="{{ user }}" name="user_id">
        <input class="mb-3 p-3" name="title" type="text" maxlength="100" placeholder="title" value="{{ todo.title }}"
            required>
        {% if todo.description %}
        <textarea class="p-3" name="description" cols="30" rows="10" placeholder="description">{{ todo.description }}</textarea>
        {% else %}
        <textarea class="p-3" name="description" cols="30" rows="10" placeholder="description"></textarea>
        {% endif %}
        <div class="items-end">
            <label class="mt-20" for="is_done">Is done?</label>
            {% if not todo.is_done %}
            <input type="checkbox" id="is_done" name="is_done">
            {% else %}
            <input type="checkbox" id="is_done" name="is_done" checked>
            {% endif %}
        </div>
        <div class="mx-auto">
            <button class="bg-green-600 hover:bg-green-800 text-white  mx-auto p-3 mt-6 rounded-md"
                type="submit">Edit</button>
            <a class="inline-block bg-red-600 hover:bg-red-800 text-white p-3 mt-6 rounded-md mx-auto"
                href="{% url 'dashboard:dashboard' %}">Cancel</a>
        </div>
    </form>
</body>
{% endblock content %}