{% extends 'base.html' %}

{% block head %}
<title>Notespad</title>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link
    href="https://fonts.googleapis.com/css2?family=Coda+Caption:wght@800&family=Libre+Franklin:ital,wght@1,500&display=swap"
    rel="stylesheet">
{% endblock head %}

{% block content %}
{% load static %}

<body class="bg-gray-100">
    <header>
        <nav class="navbar">
            <div class="flex justify-between items-center">
                <p class="logo logo-font">Notespad</p>
                <div>
                    <a class="p-1 sm:p-2 sm:mr-2 rounded-2xl hover:bg-gray-300" href="{% url 'users:login' %}">Login</a>
                    <a class="p-1 sm:p-2 rounded-2xl hover:bg-gray-300" href="{% url 'users:signup' %}">Signup</a>
                </div>

            </div>
        </nav>
    </header>

    <main>
        <div class="flex flex-wrap md:flex-nowrap items-center">
            <p class="text-xl p-10 flex-1 sm:text-3xl text-center description tracking-widest">The best way to organize
                your notes</p>
            <img class="mx-auto sm:w-3/5 flex-initial" src="{% static 'images/mockup.png' %}" width="600px"
                height="500px" alt="Mockup">
        </div>
    </main>
</body>
{% endblock content %}